.bracket {
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 14px;
  color: #333;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: scroll;
  min-height: 220px;
}
.block {
  display: flex;
}
.round {
  display: flex;
  flex-direction: column;
}

.match {
  position: relative;
  display: flex;
  flex-grow: 1;
  cursor: pointer;
  overflow: visible;
}
.round:not(:first-child) .match.bye { cursor: default; }
.right.block .match { flex-direction: row-reverse; }

.teamContainer {
  position: relative;
  margin: auto 0;
  padding: 7px 0;
}
.team {
  display: flex;
  align-items: center;
  background-color: #EEE;
  position: relative;
}
.team:first-child {
  margin-bottom: 1px;
}
.team:last-child {
  margin-top: 1px;
}
.match:not(.final):not(.consolation) .team.loser {
  opacity: 0.5;
}

.name {
  width: 100px;
  padding-left: 5px;
}
.score {
  width: 40px;
  text-align: center;
  background-color: rgba(255,255,255,0.4);
}
.name, .score {
  height: 25px;
  overflow: hidden;
  line-height: 25px;
}
.name i.flag:not(.icon) {
  line-height: 25px;
  margin: 0;
}

/* Profile Image */
.profileImages .name, .profileImages .score {
  height: 50px;
  line-height: 50px;
}
.profileImage {
  display: inline-block;
  background-repeat: no-repeat;
  width:50px;
  height:50px;
}
/* シードと勝ち上がり未定のところは画像なし */
.profileImages .match.bye .team.loser .profileImage,
.profileImages .profileImage.ico_ {
  background-image: none;
}

/* bye */
/* .match.bye .team.loser { display: none; }
.bracket:not(.profileImages) .match.bye .team.winner {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}
.bracket.profileImages .match.bye .team.winner {
  margin-top: 25px;
  margin-bottom: 25px;
} */

.team.winner .score { color: #060; }
.team.loser .score { color: #900; }


/* z-index */
.match.highlightSecond { z-index: 100; }
.match.highlightFirst  { z-index: 101; }
.match:hover { z-index: 103; }


/* 勝ち上がり線 */
.lineContainer {
  display: flex;
  flex-direction: column;

}
.lineContainer > div {
  display: flex;
  flex-grow: 1;
}
.lineContainer > div > div {
  width: 20px;
  box-sizing: border-box;
  border-color: #999;
}
.left.block .final.round .lineContainer { display: none; }

/* 左山 */
/* 奇数試合 */
.left.block .match:nth-child(odd) .lineContainer > div:last-child > div:first-child {
  border-top: 2px solid #999;
}
.left.block .match:nth-child(odd) .lineContainer > div:last-child > div:first-child {
  border-right: 2px solid #999;
}
.left.block .match:nth-child(odd) .lineContainer > div:last-child > div:last-child {
  border-bottom: 1px solid #999;
}

/* 偶数試合 */
.left.block .match:nth-child(even) .lineContainer > div:first-child > div:first-child {
  border-bottom: 2px solid #999;
}
.left.block .match:nth-child(even) .lineContainer > div:first-child > div:first-child {
  border-right: 2px solid #999;
}
.left.block .match:nth-child(even) .lineContainer > div:first-child > div:last-child {
  border-top: 1px solid #999;
}

/*  右山 */
/* 奇数試合 */
.right.block .match:nth-child(odd) .lineContainer > div:last-child > div:last-child {
  border-top: 2px solid #999;
}
.right.block .match:nth-child(odd) .lineContainer > div:last-child > div:first-child {
  border-right: 2px solid #999;
}
.right.block .match:nth-child(odd) .lineContainer > div:last-child > div:first-child {
  border-bottom: 1px solid #999;
}

/* 偶数試合 */
.right.block .match:nth-child(even) .lineContainer > div:first-child > div:last-child {
  border-bottom: 2px solid #999;
}
.right.block .match:nth-child(even) .lineContainer > div:first-child > div:first-child {
  border-right: 2px solid #999;
}
.right.block .match:nth-child(even) .lineContainer > div:first-child > div:first-child {
  border-top: 1px solid #999;
}

/* 中山 */
/* 奇数試合 */
.left.block .round:last-child .match:nth-child(odd) .lineContainer > div:first-child > div,
.right.block .round:first-child .match:nth-child(odd) .lineContainer > div:first-child > div {
  border-bottom: 2px solid #999;
}
.left.block .round:last-child .match:nth-child(odd) .lineContainer > div:last-child > div,
.right.block .round:first-child .match:nth-child(odd) .lineContainer > div:last-child > div {
  border: none;
}
.center.block .lineContainer {height: 50px; }
.center.block .lineContainer > div > div { width: 50%; }
.center.block .lineContainer { visibility: hidden; }

.right.block .round:first-child:not(.final) .match .lineContainer,
.left.block .round:last-child:not(.final) .match .lineContainer {
  display: none;
}
.left.block .round:last-child:not(.final) .match:before,
.right.block .round:first-child:not(.final) .match:before {
  content: '';
  display: block;
  position: absolute;
  bottom: calc(50% - 1px);
  width: calc(50% + 1px);
  height: 50px;
  border-bottom: 2px solid #999;
}
.left.block .round:last-child:not(.final) .match:before {
  right: calc(-50% - 1px);
  border-right: 2px solid #999;
}
.right.block .round:first-child:not(.final) .match:before {
  left: calc(-50% - 1px);
  border-left: 2px solid #999;
}


/* 優勝/準優勝 */
.match.highlightFirst .team.winner, .final.round .final.match .team.winner { background-color: #DA0; }
.match.highlightSecond .team.winner, .final.round .final.match .team.loser { background-color: #CCC; }

.right.block .round:first-child:not(.final) .match.highlightFirst:before,
.left.block .round:last-child:not(.final) .match.highlightFirst:before,
.right.block .match:nth-child(n).highlightFirst .lineContainer > div > div:nth-child(n),
.left.block .match:nth-child(n).highlightFirst .lineContainer > div > div:nth-child(n) {
  border-color: #DA0;
  border-width: 2px;
  margin-top: -1px;
  margin-bottom: -1px;
}
.right.block .round:first-child:not(.final) .match.highlightSecond:before,
.left.block .round:last-child:not(.final) .match.highlightSecond:before,
.right.block .match:nth-child(n).highlightSecond .lineContainer > div > div:nth-child(n),
.left.block .match:nth-child(n).highlightSecond .lineContainer > div > div:nth-child(n) {
  border-color: #CCC;
  border-width: 2px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.final.round { margin: auto 0; }
.final.match { flex-grow: unset; }


/* 両山対応 */
.center.block {
  z-index: 150;
}
.center.block .final.round { margin: 0; }
.center.block .match .teamContainer {
  margin: 0;
  padding: 0;
}
.center.block .final.match {
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: -2px;
}
.center.block .consolation.match {
  position: relative;
  top: inherit;
  margin-top: inherit;
  flex-direction: column-reverse;
  justify-content: flex-end;
}


/* 順位表示 */
.final.match .team.winner:before, .final.match .team.loser:before,
.consolation.match .team.winner:before, .consolation.match .team.loser:before {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  right: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right-color: #DA0;
}
.final.match .team.winner:after, .final.match .team.loser:after,
.consolation.match .team.winner:after, .consolation.match .team.loser:after {
  display: block;
  position: absolute;
  top: calc(50% - 11px);
  right: -35px;
  width: 30px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 11px;
}

/* 優勝 */
.final.match .team.winner:after {
  content: '1st';
  background-color: #DA0;
  color: #960;
}
.final.match .team.winner:before { border-right-color: #DA0; }

/* 準優勝 */
.final.match .team.loser:after {
  content: '2nd';
  background-color: #CCC;
  color: #333;
}
.final.match .team.loser:before { border-right-color: #CCC; }

/* ３位 */
.consolation.match .team.winner:after {
  content: '3rd';
  background-color: #963;
  color: #D95;
}
.consolation.match .team.winner:before { border-right-color: #963; }

/* 4位 */
.consolation.match .team.loser:after {
  content: '4th';
  background-color: #678;
  color: #CCD;
}
.consolation.match .team.loser:before { border-right-color: #678; }


/* ポップアップ表示 */
.bracket:focus { outline-style: none; }
.bracket:not(:focus):focus-within:after {
  display: block;
  content: '';
  background-color: rgba(255,255,255,0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  z-index: 300;
}
.match:focus, .match:focus-within {
  z-index: 301;
  outline-style: none;
}
.popupContainer {
  display: none;
  z-index: 1;
  max-height: 90vh;
  cursor: default;
}
.match:focus .popupContainer, .match:focus-within .popupContainer {
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 400px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.popupContent {
  border-radius: 5px;
  background-color: rgba(0,0,0,0.9);
  padding: 25px 0;
  color: #fff;
 }

.popupContainer h3 {
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  margin-top: 0;
}
.popupContainer .popupTeamContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 35px 5%;
}
.popupName, .popupScore {
  padding: 10px;
}
.popupName .profile {
  width: 100px;
  max-width: 90%;
  height: 100px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
}
.popupTeamContainer .popupTeam {
  width: 45%;
  border: 1px solid #EFEFEF;
  padding: 20px 0;
  position: relative;
  word-break: break-all;
}
.popupTeam.winner {
  border: 2px solid #DA0;
  background-color: rgba(221,170,0,0.3);
}
.popupTeam.loser {
  border: 2px solid #CCC;
  background-color: rgba(204,204,204,0.3);
}
.popupComment {
  margin: 0 5%;
  word-break: break-all;
}
.popupSpacer {
  display: flex;
  align-items: center;
}

.popupTeam:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.popupTeam.winner:before {
  content: 'WIN';
  color: #DA0;
}
.popupTeam.loser:before {
  content: 'LOSE';
  color: #AAA;
}


/* ３位決定戦 */
.skipConsolation .consolation { visibility: hidden; }

.consolation.match {
  position: absolute;
  top: 51%;
  margin-top: 40px;
}


/* スコアレス */
.bracket.scoreLess .score { display: none; }


/* シード表示 */
.bracket { min-height: unset; }
.bracket .match.skip { display: none; }
.bracket .round:not(:first-child) .match.bye .teamContainer { display: none; }
.bracket .round:not(:first-child) .match.bye .lineContainer { width: 100%; }
.bracket .round:not(:first-child) .match.bye .lineContainer div div:first-child { width: calc(100% - 20px); }

/* next-bye: 次の試合もbyeのときは、lineをまっすぐ次に伸ばす  */
.bracket .match.next-bye:nth-child(even) { margin-top: 0px; }
.bracket .left.block .match:nth-child(n).next-bye .lineContainer > div > div {
  border-right: none;
}
.bracket .left.block .match.next-bye:nth-child(odd) .lineContainer > div:last-child > div:last-child {
  border-bottom: none;
  border-top-style: solid;
  border-top-width: 2px;
}
.bracket .left.block .match.next-bye:nth-child(even) .lineContainer > div:first-child > div:last-child {
  border-top: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}


/* matchFlex */
:root { --match-flex: 65px; }
.match-flex-0 { flex: 0 0 auto; }
.match-flex-1 { flex: 1 1 calc(1 * var(--match-flex)); }
.match-flex-2 { flex: 2 1 calc(2 * var(--match-flex)); }
.match-flex-3 { flex: 3 1 calc(3 * var(--match-flex)); }
.match-flex-4 { flex: 4 1 calc(4 * var(--match-flex)); }
.match-flex-5 { flex: 5 1 calc(5 * var(--match-flex)); }
.match-flex-6 { flex: 6 1 calc(6 * var(--match-flex)); }
.match-flex-7 { flex: 7 1 calc(7 * var(--match-flex)); }
.match-flex-8 { flex: 8 1 calc(8 * var(--match-flex)); }
.match-flex-9 { flex: 9 1 calc(9 * var(--match-flex)); }
.match-flex-10 { flex: 10 1 calc(10 * var(--match-flex)); }
.match-flex-11 { flex: 11 1 calc(11 * var(--match-flex)); }
.match-flex-12 { flex: 12 1 calc(12 * var(--match-flex)); }
.match-flex-13 { flex: 13 1 calc(13 * var(--match-flex)); }
.match-flex-14 { flex: 14 1 calc(14 * var(--match-flex)); }
.match-flex-15 { flex: 15 1 calc(15 * var(--match-flex)); }
.match-flex-16 { flex: 16 1 calc(16 * var(--match-flex)); }
.match-flex-17 { flex: 17 1 calc(17 * var(--match-flex)); }
.match-flex-18 { flex: 18 1 calc(18 * var(--match-flex)); }
.match-flex-19 { flex: 19 1 calc(19 * var(--match-flex)); }
.match-flex-20 { flex: 20 1 calc(20 * var(--match-flex)); }
.match-flex-21 { flex: 21 1 calc(21 * var(--match-flex)); }
.match-flex-22 { flex: 22 1 calc(22 * var(--match-flex)); }
.match-flex-23 { flex: 23 1 calc(23 * var(--match-flex)); }
.match-flex-24 { flex: 24 1 calc(24 * var(--match-flex)); }
.match-flex-25 { flex: 25 1 calc(25 * var(--match-flex)); }
.match-flex-26 { flex: 26 1 calc(26 * var(--match-flex)); }
.match-flex-27 { flex: 27 1 calc(27 * var(--match-flex)); }
.match-flex-28 { flex: 28 1 calc(28 * var(--match-flex)); }
.match-flex-29 { flex: 29 1 calc(29 * var(--match-flex)); }
.match-flex-30 { flex: 30 1 calc(30 * var(--match-flex)); }
.match-flex-31 { flex: 31 1 calc(31 * var(--match-flex)); }
.match-flex-32 { flex: 32 1 calc(32 * var(--match-flex)); }


/* teamContainerPosition */
:root { --team-position: 32px; }
.team-position-0 { top: 0px; }
.team-position-1 { top: calc(1 * var(--team-position)); }
.team-position-2 { top: calc(2 * var(--team-position)); }
.team-position-3 { top: calc(3 * var(--team-position)); }
.team-position-4 { top: calc(4 * var(--team-position)); }
.team-position-5 { top: calc(5 * var(--team-position)); }
.team-position-6 { top: calc(6 * var(--team-position)); }
.team-position-7 { top: calc(7 * var(--team-position)); }
.team-position-8 { top: calc(8 * var(--team-position)); }
.team-position-9 { top: calc(9 * var(--team-position)); }
.team-position-10 { top: calc(10 * var(--team-position)); }
.team-position-11 { top: calc(11 * var(--team-position)); }
.team-position-12 { top: calc(12 * var(--team-position)); }
.team-position-13 { top: calc(13 * var(--team-position)); }
.team-position-14 { top: calc(14 * var(--team-position)); }
.team-position-15 { top: calc(15 * var(--team-position)); }
.team-position-16 { top: calc(16 * var(--team-position)); }
.team-position-17 { top: calc(17 * var(--team-position)); }
.team-position-18 { top: calc(18 * var(--team-position)); }
.team-position-19 { top: calc(19 * var(--team-position)); }
.team-position-20 { top: calc(20 * var(--team-position)); }
.team-position-21 { top: calc(21 * var(--team-position)); }
.team-position-22 { top: calc(22 * var(--team-position)); }
.team-position-23 { top: calc(23 * var(--team-position)); }
.team-position-24 { top: calc(24 * var(--team-position)); }
.team-position-25 { top: calc(25 * var(--team-position)); }
.team-position-26 { top: calc(26 * var(--team-position)); }
.team-position-27 { top: calc(27 * var(--team-position)); }
.team-position-28 { top: calc(28 * var(--team-position)); }
.team-position-29 { top: calc(29 * var(--team-position)); }
.team-position-30 { top: calc(30 * var(--team-position)); }
.team-position-31 { top: calc(31 * var(--team-position)); }
.team-position-32 { top: calc(32 * var(--team-position)); }

.team-position--1 { top: calc(-1 * var(--team-position)); }
.team-position--2 { top: calc(-2 * var(--team-position)); }
.team-position--3 { top: calc(-3 * var(--team-position)); }
.team-position--4 { top: calc(-4 * var(--team-position)); }
.team-position--5 { top: calc(-5 * var(--team-position)); }
.team-position--6 { top: calc(-6 * var(--team-position)); }
.team-position--7 { top: calc(-7 * var(--team-position)); }
.team-position--8 { top: calc(-8 * var(--team-position)); }
.team-position--9 { top: calc(-9 * var(--team-position)); }
.team-position--10 { top: calc(-10 * var(--team-position)); }
.team-position--11 { top: calc(-11 * var(--team-position)); }
.team-position--12 { top: calc(-12 * var(--team-position)); }
.team-position--13 { top: calc(-13 * var(--team-position)); }
.team-position--14 { top: calc(-14 * var(--team-position)); }
.team-position--15 { top: calc(-15 * var(--team-position)); }
.team-position--16 { top: calc(-16 * var(--team-position)); }
.team-position--17 { top: calc(-17 * var(--team-position)); }
.team-position--18 { top: calc(-18 * var(--team-position)); }
.team-position--19 { top: calc(-19 * var(--team-position)); }
.team-position--20 { top: calc(-20 * var(--team-position)); }
.team-position--21 { top: calc(-21 * var(--team-position)); }
.team-position--22 { top: calc(-22 * var(--team-position)); }
.team-position--23 { top: calc(-23 * var(--team-position)); }
.team-position--24 { top: calc(-24 * var(--team-position)); }
.team-position--25 { top: calc(-25 * var(--team-position)); }
.team-position--26 { top: calc(-26 * var(--team-position)); }
.team-position--27 { top: calc(-27 * var(--team-position)); }
.team-position--28 { top: calc(-28 * var(--team-position)); }
.team-position--29 { top: calc(-29 * var(--team-position)); }
.team-position--30 { top: calc(-30 * var(--team-position)); }
.team-position--31 { top: calc(-31 * var(--team-position)); }
.team-position--32 { top: calc(-32 * var(--team-position)); }


/* lineFlex */
.lineContainer > .line-flex-0 { flex-grow: 0; }
.lineContainer > .line-flex-1 { flex-grow: 1; }
.lineContainer > .line-flex-2 { flex-grow: 2; }
.lineContainer > .line-flex-3 { flex-grow: 3; }
.lineContainer > .line-flex-4 { flex-grow: 4; }
.lineContainer > .line-flex-5 { flex-grow: 5; }
.lineContainer > .line-flex-6 { flex-grow: 6; }
.lineContainer > .line-flex-7 { flex-grow: 7; }
.lineContainer > .line-flex-8 { flex-grow: 8; }
.lineContainer > .line-flex-9 { flex-grow: 9; }
.lineContainer > .line-flex-10 { flex-grow: 10; }
.lineContainer > .line-flex-11 { flex-grow: 11; }
.lineContainer > .line-flex-12 { flex-grow: 12; }
.lineContainer > .line-flex-13 { flex-grow: 13; }
.lineContainer > .line-flex-14 { flex-grow: 14; }
.lineContainer > .line-flex-15 { flex-grow: 15; }
.lineContainer > .line-flex-16 { flex-grow: 16; }
.lineContainer > .line-flex-17 { flex-grow: 17; }
.lineContainer > .line-flex-18 { flex-grow: 18; }
.lineContainer > .line-flex-19 { flex-grow: 19; }
.lineContainer > .line-flex-20 { flex-grow: 20; }
.lineContainer > .line-flex-21 { flex-grow: 21; }
.lineContainer > .line-flex-22 { flex-grow: 22; }
.lineContainer > .line-flex-23 { flex-grow: 23; }
.lineContainer > .line-flex-24 { flex-grow: 24; }
.lineContainer > .line-flex-25 { flex-grow: 25; }
.lineContainer > .line-flex-26 { flex-grow: 26; }
.lineContainer > .line-flex-27 { flex-grow: 27; }
.lineContainer > .line-flex-28 { flex-grow: 28; }
.lineContainer > .line-flex-29 { flex-grow: 29; }
.lineContainer > .line-flex-30 { flex-grow: 30; }
.lineContainer > .line-flex-31 { flex-grow: 31; }
.lineContainer > .line-flex-32 { flex-grow: 32; }
.lineContainer > .line-flex-33 { flex-grow: 33; }
.lineContainer > .line-flex-34 { flex-grow: 34; }
.lineContainer > .line-flex-35 { flex-grow: 35; }
.lineContainer > .line-flex-36 { flex-grow: 36; }
.lineContainer > .line-flex-37 { flex-grow: 37; }
.lineContainer > .line-flex-38 { flex-grow: 38; }
.lineContainer > .line-flex-39 { flex-grow: 39; }
.lineContainer > .line-flex-40 { flex-grow: 40; }
.lineContainer > .line-flex-41 { flex-grow: 41; }
.lineContainer > .line-flex-42 { flex-grow: 42; }
.lineContainer > .line-flex-43 { flex-grow: 43; }
.lineContainer > .line-flex-44 { flex-grow: 44; }
.lineContainer > .line-flex-45 { flex-grow: 45; }
.lineContainer > .line-flex-46 { flex-grow: 46; }
.lineContainer > .line-flex-47 { flex-grow: 47; }
.lineContainer > .line-flex-48 { flex-grow: 48; }
.lineContainer > .line-flex-49 { flex-grow: 49; }
.lineContainer > .line-flex-50 { flex-grow: 50; }
.lineContainer > .line-flex-51 { flex-grow: 51; }
.lineContainer > .line-flex-52 { flex-grow: 52; }
.lineContainer > .line-flex-53 { flex-grow: 53; }
.lineContainer > .line-flex-54 { flex-grow: 54; }
.lineContainer > .line-flex-55 { flex-grow: 55; }
.lineContainer > .line-flex-56 { flex-grow: 56; }
.lineContainer > .line-flex-57 { flex-grow: 57; }
.lineContainer > .line-flex-58 { flex-grow: 58; }
.lineContainer > .line-flex-59 { flex-grow: 59; }
.lineContainer > .line-flex-60 { flex-grow: 60; }
.lineContainer > .line-flex-61 { flex-grow: 61; }
.lineContainer > .line-flex-62 { flex-grow: 62; }
.lineContainer > .line-flex-63 { flex-grow: 63; }
.lineContainer > .line-flex-64 { flex-grow: 64; }
